.country {
    display: flex;
    align-items: center;
}
.country-name {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 50px;
}
.country-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 38px;
}
.country-list__item {
    color: #000;
}
.country-list__value {
    font-weight: 400;
    color: #263f7e;
}
.countries {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.countries-name {
    margin: 0;
    margin-left: 50px;
    font-size: 32px;
}